<h1>deck-of-cards</h1>

<p></p>

<form action='/results' method='get'>
    <div class="form-group">
        <label for=""></label>
        <input id="" name="" class="form-control" type="text">
    </div>

    <button type="submit" class="btn btn-info">Submit</button>
</form>
